@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
} */
/* body {
  width: 100vw;
  height: 100vh;
  /* overflow-x: hidden; */

/* html, body, #root {
  height: 100%;
} */

.wholenav {
  width: 100%;
  height: 8%;
  background-color: rgb(12, 116, 214);
  display: flex;
  align-items: center;
  justify-content: center;
  /* position: fixed; */
  /* z-index: 9999; */
}
.subnav {
  width: 90%;
  height: 100%;
  /* background-color: black; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo {
  width: 15%;
  height: 100%;
  /* background-color: orangered; */
  display: flex;
  align-items: center;
  justify-content: start;
}
.logo img {
  width: 80%;
  height: 60px;
}
.searchbar {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: red; */
}
.search1 {
  width: 63%;
  height: 60%;
  padding: 5px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  /* margin-right: 20px; */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  border: none;
  /* box-decoration-break: clone; */
}
.search-icon {
  width: 5%;
  height: 60%;
  background-color: black;
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.hotline {
  width: 20%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: maroon; */
  /* gap: 1px; */
  /* font-size: 16px; */
  color: white;
  flex-direction: column;
  /* margin-top: 30px; */
}
.hotline p {
  font-size: 14px;
}

.icon {
  width: 15%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: pink; */
}
.inicon {
  width: 80%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  font-size: 18px;
  position: relative;
}
.cart-count {
  position: relative;
}
.cart-notify {
  width: 18px;
  height: 18px;
  font-size: 15px;
  border-radius: 10px;
  background-color: rgb(231, 98, 10);
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  /* top: -3px; */
  bottom: 18px;
  left: 5px;
}
.wholenav2 {
  width: 100%;
  height: 6%;
  background-color: rgb(7, 102, 191);
  display: flex;
  align-items: center;
  justify-content: center;
}
.subnav2 {
  width: 90%;
  height: 100%;
  background-color: rgb(7, 102, 191);
  display: flex;
  align-items: center;
  /* justify-content: center; */
}
.categories {
  width: 20%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  background-color: rgb(7, 102, 191);
  color: white;
  font-weight: bold;
}
.menus {
  width: 60%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgb(7, 102, 191);
  /* padding: 10px; */
  /* margin: 100px; */
  color: white;
  font-weight: bold;
}
.supersale {
  width: 20%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
  color: white;
  font-weight: bold;
  background-color: rgb(7, 102, 191);
}

/* addtocart */
.main {
  position: absolute;
  right: 90px;
  top: -100vh;
  z-index: 99;
  width: 25%;
  height: 100%;
  /* gap: 30px; */
  opacity: 0;
  transition: top 0.5s ease, opacity 0.5s ease;
  /* background-color: red; */
  /* box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1); */
}
.cart-visible {
  /* left: 1200px; */
  opacity: 1;
  top: 100px;
}

.wholecart {
  width: 100% !important;
  height: 13%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px; */
  /* background-color: aqua; */
}
.subcart {
  width: 100% !important;
  height: 95%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 1px solid rgb(228, 224, 224);
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: rgb(239, 242, 245);
}

.cart-btns {
  width: 100%;
  height: 60%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.cart-btns button {
  width: 140px;
  /* height: 30px; */
  margin: 20px;
  padding: 10px;
  border-radius: 5px;
  background-color: rgb(224, 224, 224);
  color: black;
  font-size: 14px;
  font-weight: bold;
  border: none;
}
.cart-btns button:hover {
  background-color: rgb(19, 1, 70);
  color: white;
  transition: 0.5s;
}

.total-amt {
  width: 100%;
  height: 40%;
  /* background-color: orchid; */
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 14px;
  border-top: 2px solid rgb(17, 16, 16);
  border-radius: 10px;
  box-shadow: rgba(208, 208, 216, 0.719) 0px 30px 60px -12px inset,
    rgba(231, 223, 223, 0.3) 0px 18px 36px -18px inset;
}
.cart-ttl-amt {
  color: green;
  font-weight: bolder;
}

.prod-container {
  width: 100%;
  min-height: 250px;
  max-height: 450px;
  overflow-y: scroll;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px,
    rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px,
    rgba(0, 0, 0, 0.07) 0px 16px 16px;
  /* background-color: blue !important; */
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgba(246, 251, 255, 0.6);
  border: 1px solid rgb(233, 231, 231);
  border-radius: 10px;
  gap: 10px;
  padding: 5px;
}
.prod-container::-webkit-scrollbar {
  width: 6px;
}
.prod-container::-webkit-scrollbar-button {
  display: none;
}
.prod-container::-webkit-scrollbar-thumb {
  background-color: #d4d3d3;
  border-radius: 10px;
  transition: all 0.5s;
}

.sub-container {
  width: 97%;
  height: 130px !important ;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border: 1px solid gray;
  border-radius: 10px;
  /* background-color: azure; */
}
.img-container {
  width: 30%;
  height: 130px !important;
  /* background-color: aqua; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.img-container img {
  width: 80%;
  height: 80%;
  border-radius: 5px;
}
.prod-detail {
  width: 70%;
  height: 95%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: maroon; */
}
.sub-detail {
  width: 95%;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-direction: column;
  /* background-color: chartreuse; */
}
.prod-name-price {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: start;
  justify-content: start;
  /* background-color: coral; */
}
.name-remover {
  width: 85%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* background-color: aqua; */
}
.name-cart {
  font-size: 12px;
}
.price-cart {
  font-size: 12px;
}
.name-remover p {
  margin-left: 10px;
}
.remove-icon {
  /* width: 15%; */
  /* height: 65%; */
  display: flex;
  align-items: start;
  justify-content: center;
  /* background-color: teal; */
  margin-top: 10px;
  margin-left: 20px;
  cursor: pointer;
}
.remove-icon:hover {
  color: #e0a8a8;
}
.qty-total {
  width: 100%;
  height: 50px;
  display: flex;
  align-content: center;
  justify-content: center;
  /* background-color: darkkhaki; */
  /* gap: 10px; */
}
.qty-total button {
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.inc-dec {
  width: 60%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  /* background-color: forestgreen; */
}
.dec {
  width: 22px;
  font-size: 16px;
  height: 25px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: #d1d1d1;
  cursor: pointer;
}
.inc {
  width: 22px;
  font-size: 16px;
  height: 25px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: #d1d1d1;
  cursor: pointer;
}
/* .dec:hover {
  background-color: rgb(231, 71, 71);
  transition: 0.5s;
}
.inc:hover {
  background-color: rgb(85, 190, 85);
  transition: 0.5s;
} */
.labelbox {
  width: 35px !important;
  height: 22px !important;
  background-color: transparent;
  border: 1px solid #d4d3d3;
  background-color: rgb(255, 255, 255);
  text-align: center;
  /* border-radius: 3px; */
}
.total-cart {
  width: 40%;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  color: green;
  font-weight: bold;
  /* background-color: pink; */
}
.login-bg {
  width: 50%;
  height: 80%;
  /* background-color: red; */
  background-image: url("../../src/assets/login-bg.jpeg");
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 330px;
  margin-top: 30px;
  border-radius: 20px;
  /* background: linear-gradient(-45deg, #29d15c, #dd0da9, #6dd5ed, #2193b0); */
  background-size: 200% 200%;
  background-color: #000;
  right: 90px;
  top: -100vh;
  z-index: 99;
  opacity: 0;
  position: absolute;
   transition: top 0.5s ease, opacity 0.5s ease;
  box-sizing: border-box;
  animation: gradientShift 15s ease infinite;
}
.form-visible{
  top: 80px;
  opacity: 1;
}
@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.auth-container {
  max-width: 350px;
  margin: 60px auto;
  padding: 30px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: rgba(114, 114, 155, 0.5);
}

.auth-form input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  font-size: 16px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.auth-form button {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
}

.toggle {
  margin-top: 15px;
}

.link-btn {
  background: none;
  color: #007bff;
  border: none;
  cursor: pointer;
  text-decoration: underline;
  font-size: 1em;
}
